*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*......................... BARRE DE NAVIGATION............................... */

#navbar{
    display: flex;
    align-items: center;
    border-bottom: 5px double black;
}

#logo{
    height: 115px;
}

#menu{
    display: none;
    width: 100%;
    font-size: larger;
    align-items: center;
    border:5px double rgb(255, 227, 232);
    margin: 30px 20px;
    padding:0 60px ;
}

#menu_liste{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 10px 0;
}

li{
    list-style: none;
}

a{
    color: black;
    text-decoration: none; 
}

#burger{
    width: 100%;
    display: flex;
    justify-content: right;
    padding-right: 20px;
    font-size: 35px;
}

#btn_burger{
    cursor: pointer;
}

#close{
    width: 100%;
    display: none;
    justify-content: right;
    padding-right: 20px;
    font-size: 30px;
}

#btn_close{
    cursor: pointer;
}

#menu_container{
    position: absolute;
    display: none;
    margin-top: 119px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

#menu2{
    display: none;
    background-color: rgb(255, 227, 232);
    position: absolute;
    right: 0;
    width: 100%;
    height: 250px;
    align-items: center;
    justify-content: space-between;    
}

#menu_liste2{
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    padding: 15px 0;
}

.ligne{

    width: 70%;
    background-color: black;
    border-color: black;

}

.lien_rose:hover{
    color: rgb(255, 227, 232);
}

.lien_blanc:hover{
    color: white;
}


/* 
@media screen and (min-width:701px) {
    #menu{
        display: block;
    }
    #burger{
        display: none;
    }
    #menu2{
        display: none;
    }
} */



/* ............................SLIDER........................... */

#header{
    height: 250px;
    background-image: url("fond2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

h1{
    width: max-content;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.345);
    border-radius: 20px;
}

@media screen and (min-width:701px) {
    #header{
        background-image: none;
        align-items: baseline;
        background-color: rgb(255, 227, 232);
    }
    h1{
        background-color: rgba(255, 255, 255, 0);
    }
} 
