*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navbar {
    display: flex;
}

#logo{
    width: 200px;
}

#burger {
    width: 100%;
    padding-right: 20px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#menu{
    width: 100%;
    font-size: larger;
    align-items: center;
    border:5px double pink;
    margin: 30px 20px;
    padding:0 60px ;
    display: none;
}

#menu_liste{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

li{
    list-style: none;
    
}

a{
    color: black;
    text-decoration: none; 
}

#menu_container{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-items: flex-start;
}

#menu2{
    width: 250px;
    height: 350px;
    display: flex;
    justify-content:center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    background-color: pink;
    
}

#menu_liste2{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
}

#close{
    width: 250px;
    height: 350px;
    position: absolute;
    display: flex;
    justify-content: right;
    padding: 20px 20px 0 0;
    font-size: 35px;
}

@media screen and (min-width: 701px) {
    #burger{
        display: none;
    }
    #menu{
        display: block;
    }
}